<style>
#submit button{
	padding-left: 100px;
}
div{
	margin-top: 20px;
}
textarea{
	vertical-align: top;
	height: 5em;
}
	
.error{
	display: none;
}		

.error_show{
	color: red;
	
}
span[class^="error"]{
	margin-left: 10px;
}

input.invalid, textarea.invalid{
	border: solid red;
}

input.valid, textarea.valid{
	border: solid green;
}
#result {
	display: none;
}
</style>
